<template>
  <h1>Send me a message</h1>
  <p v-if="success">Thanks for submitting the form. I will get back to you as soon as I can!</p>
  <form v-if="!success" @submit="submit">
    <p>
      <label for="name">Name</label>
      <input :disabled="loading" type="text" v-model="name" />
    </p>
    <p>
      <label for="email">Email</label>
      <input :disabled="loading" type="email" name="email" v-model="email" required />
    </p>
    <p>
      <label for="message">Message</label>
      <textarea :disabled="loading" name="message" v-model="message" />
    </p>
    <p>
      <button :disabled="loading" type="submit">Submit</button>
    </p>
    <p v-if="error">Error submitting form: <code>{{ errorMsg }}</code></p>
  </form>
</template>

<script>
export default {
  name: 'Contact',
  data() {
    return {
      name: '',
      email: '',
      message: '',
      loading: false,
      error: false,
      errorMsg: '',
      success: false,
    };
  },
  methods: {
    async submit(e) {
      e.preventDefault();
      const { name, email, message } = this;
      try {
        this.error = false;
        this.loading = true;
        const res = await this.$http.post(
          '//formspree.io/f/meqpyrgo',
          { name, email, message },
        );
        if (!res.data.ok) {
          throw new Error('Formspree error.');
        }
        this.success = true;
      } catch (err) {
        this.errorMsg = err.message;
        this.error = true;
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<style scoped>
input, textarea {
  display: block;
  width: 100%;
}

textarea {
  border-radius: 5px;
  min-height: 100px;
  resize: vertical;
}

p {
  padding-bottom: 25px;
}
</style>
