<template>
  <div id="footer">
    View the source code for this site on <a href="https://gitlab.com/kylesferrazza/web">GitLab</a>.
  </div>
</template>

<style scoped>
#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
</style>