<template>
  <nav>
    <h1 class="nav-section">
      Kyle Sferrazza
    </h1>
    <div class="nav-section middle">
      <slot />
    </div>
    <div class="nav-section end">
      <router-link v-for="route in routes" :to="route.path" :key="route.path" :class="route.path == $route.path ? 'active' : ''">
        {{ route.name }}
      </router-link>
    </div>
  </nav> 
</template>

<style scoped>
nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 1;
  align-items: center;
  padding: 0 15px;
  min-height: 50px;
}

.nav-section {
  flex: 1;
}

.middle {
  text-align: center;
}

.end {
  text-align: right;
}

.light > nav {
  background-color: #eee8d5;
}

.dark > nav {
  background-color: #073642;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline 6px;
}
</style>

<script>

import { routes } from "@/router.js";

export default {
  name: "Header",
  data: () => ({
    routes,
  }),
}
</script>