<template>
  <div>
    <h2>
      Coming soon...
    </h2>
  </div>
</template>

<style scoped>
div {
  transform: translateY(48vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
