<template>
  <div class="switch-wrapper">
    <label class="toggle">
      <input type="checkbox" :checked="mode === 'light'" @click="$emit('update:mode', mode == 'light' ? 'dark' : 'light')" />
      <span class="togglee" />
    </label>
  </div>
</template>

<script>
export default {
  name: "ThemeSwitch",
  props: ['mode'],
  emits: ['update:mode'],
}
</script>

<style>
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
}

.togglee {
  border-radius: 34px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2aa198;
}

.togglee:before {
  border-radius: 50%;
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #073642;
  content: "🌙";
  transition: all 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

input:checked + .togglee {
  background-color: #073642;
}

input:checked + .togglee:before {
  transform: translateX(26px);
  background-color: #2aa198;
  content: "☀️";
}

</style>