<template>
  <div id="app-wrapper" :class="mode">
    <Header>
      <ThemeSwitch v-model:mode="mode" />
    </Header>
    <div class="main-content" :class="mode">
      <router-view />
    </div>
    <Footer />
  </div>
</template>

<script>

import Header from "@/components/Header";
import Footer from "@/components/Footer";
import ThemeSwitch from "@/components/ThemeSwitch";

export default {
  name: 'App',
  components: {
    Header,
    Footer,
    ThemeSwitch,
  },
  data() {
    const savedMode = localStorage.getItem("mode");
    return {
      mode: savedMode || 'dark',
    };
  },
  watch: {
    mode: {
      handler() {
        localStorage.setItem("mode", this.mode);
      },
    },
  },
}
</script>

<style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monospace';
}

#app {
  height: 100vh;
  width: 100vw;
}

#app-wrapper {
  height: 100vh;
  width: 100vw;
  transition: background-color 0.5s;
}

#app-wrapper.dark {
  background-color: #002b36
}

#app-wrapper.light {
  background-color: #fdf6e3;
}

.dark {
  color: #fdf6e3;
}

.light {
  color: #073642;
}

a:visited {
  color: #6c71c4;
}
</style>

<style scoped>
.main-content {
  padding: 15px;
}
</style>
